/* 

#146A8C
#0B3A4D
#1D9BCC
#1EA4D9
#1987B3

*/

.content {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: white;
}
.container {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  margin-left: -0.5vw;
  margin-right: -0.5vw;
}

h1 {
  font-size: 40px;
  font-family: 'Helvetica Neue', sans-serif;
}

h2 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  margin-top: -1vw;
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  background-color: white;
  vertical-align: middle;

}

.main {
  background-color: #aee8ff;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
}

.main > p {
  text-align: justify;
}

.footer {
  background-color: darkgray;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 105vw;
}

.bullet-list {
  text-align: left;
}

.menu {
  display: flex;
  flex-wrap: nowrap;
  background-color: inherit;
  justify-content: space-between;
  text-align: center;
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
  flex: 1;
  padding-top: 15px;
}

.menu-item {
  width: 10vw;
  margin: 1px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: darkgray;
  text-decoration: none;
}

.menu-item:hover {
  color: whitesmoke;
  background-color: black;
}

.logo-text {
  color: black;
  flex: 1;  
  font-size: 20px;
}