.container {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  margin-left: -0.5vw;
  margin-right: -0.5vw;
}

h1 {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.menu {
  padding-top: 0;
  margin-top: -1vw;
}

.header {
  background-color: #f1f1f1;
}

.footer {
  background-color: blueviolet;
}

.linkList {
  background-color: #aaa;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.linkList > div {
  background-color: blanchedalmond;
  padding: 1px
}

.linkList > div > a {
  color: darkgray;
  text-decoration: none;
}

.linkList > div > a:hover {
  color: whitesmoke;
  background-color: black;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
  justify-content: center;
}

.flex-container > div {
  width: 200px;
  margin: 20px;
  text-align: center;
  line-height: 50px;
  font-family: Arial, Helvetica, sans-serif;
}